a.disabled {
  /* Make the disabled links grayish */
  color: gray;
  /* And disable the pointer events */
  pointer-events: none;
}

.crunch-hr {
  margin-top: 8px !important;
  margin-bottom: 6px !important;
}

.crunch-title h2 {
  margin-bottom: 0px !important;
}

.crunch-ul ul {
  margin-bottom: 2px !important;
}

.new-unit {
  border-top: 2px solid gray !important;
}

.sidebar-footer-item {
  font-size: 80% !important;
}

.sidebar-menu-container {
  padding-top: 10px !important;
}

.sticky-head {
  position: sticky;
  top: 0;
  background-color: white;
  /* border-bottom: 2px solid gray !important; */
  border-top: none !important;
  border-bottom: none !important;
  /* box-shadow: inset 0 2px 0 #000000, inset 0 -2px 0 #000000; */
  box-shadow: inset 0 -2px 0 gray;
  padding: 2px 0;
}

.sticky-table {
  border-collapse: collapse;
  border-spacing: 0;
}

.sticky-table tbody:nth-of-type(1) tr:nth-of-type(1) td {
  border-top: none !important;
}

.sidebar-subtitle {
  font-size: 12pt !important;
  line-height: 0.7em !important;
}

/* and one small fix for weird FF behavior, described in https://stackoverflow.com/questions/7517127/ */

table thead th {
  background-clip: padding-box;
}

/* td centering */
.tdc {
  vertical-align: middle !important;
  text-align: center !important;
}

/* td vertical centering */
.tdvc {
  vertical-align: middle !important;
}